@using NexOneVS.Models.Game
@using NexOneVS.GameModels
@model GameModel

@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            @foreach (SearchGameDB.Result result in Model.SearchDB.results)
            {
                <tr>
                    @if (@result.image != null)
                    {
                        <text>
                        <td><img src=@result.image.icon_url /></td>
                        </text>
                    }
                   
                    <td>@result.name</td>
                    <td>@result.original_release_date</td>
</tr>
            }
        </tbody>
    </table>
</div>





