@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotrontext">
        <h1>Next On My List</h1>
        <p class="lead">'Next On My List' is your guide to finding the next game to play, movie to watch, or TV show to binge watch!</p>
    </div>
</div>

<div class="row">
        <div class="col-md-4">
            <div class="gamesArea">
                <h2>Games</h2>
                <p class="pText">
                    Click below for the newest games!
                </p>
                <p><a href="Games" class="btn btn-primary btn-lg">Go to Games &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="moviesArea">
                <h2>Movies</h2>
                <p class="pText">Click below for movies currently playing!</p>
                <p><a href="Movies" class="btn btn-primary btn-lg">Go to Movies &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tvArea">
                <h2>TV</h2>
                <p class="pText">Click below for our TV show section!</p>
                <p><a href="TV" class="btn btn-primary btn-lg">Go to TV &raquo;</a></p>
            </div>
        </div>
    </div>