@using NexOneVS.Models.Movie
@using NexOneVS.ViewModels
@model ViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="page-header">
    <h1 class="text-info">Now playing</h1>
</div>
<div class="well topOffset20">
    <div class="container-fluid clearfix">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">


                @using (Html.BeginForm("Search", "Movies", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search for movies...">
                        <span class="input-group-btn paddingL5">
                            <button class="btn btn-warning" type="submit">Search</button>
                        </span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="container-fluid topOffset20">
    <div class="row">
        @{ int i = 1; }

        @foreach (MovieDB.Result result in Model.Movies.results)
        {
            if (!result.poster_path.IsEmpty() && result.adult == false && result.original_language == "en")
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="@Url.Action("Title", "Movies", new { id = result.id })" class="thumbnail">
                        <img src="https://image.tmdb.org/t/p/w300/@result.poster_path" alt="@result.poster_path" class="img-responsive" />
                    </a>
                </div>

            }
            if (i % 6 == 0)
            {
                <div class="clearfix visible-lg-block"></div>
            }
            i++;
        }
    </div>
</div>